/* .container {
    text-align: center;
    background-color: aqua
    
} */

.faceButton {
  margin-top: 10px;
  background: #3b58982a;
  color: white;
  width: 200px;
  height: 80px;
  border: solid 3px #3b5998;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  font-family: monospace;
    /* box-shadow: 2px 2px rgba(103, 103, 103, 0.755); */

}

.faceButton:hover {
  background: #3b5998;
  cursor: pointer;
  color: rgb(255, 255, 255)
}



  
.norButton {
  width: 200px;
  background: rgba(231, 77, 60, 0.265);
  color: rgb(255, 255, 255);
  padding: 2rem 4rem;
  border: solid 3px #E74C3C;
  font-size: 18px;
  border-radius: 4px;
  transition: .6s;
  font-family: monospace;
}

.norButton:hover {
  background: rgb(249, 71, 71);
  cursor: pointer;
  color: rgb(255, 255, 255)
}

