@media only screen and (min-width: 768px) {
  body {
      margin-top: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .btn-random {
      margin: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
      margin-top: 15%;
  }
}

.btn-random {
  margin: auto;
}

.btn-success {
  border-radius: 10%;
  font-size: 2rem;
  width: 500px;
  height: 300px;
}

.happycard {
  display: none;
  margin: auto;
}

.btn-confirm {
  margin: 5%;
  width: 150px;
  height: 100px;
}

#happy {
  text-align: center;
}  @media only screen and (min-width: 768px) {
  body {
      margin-top: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .btn-random {
      margin: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
      margin-top: 15%;
  }
}

.btn-random {
  margin: auto;
}

.btn-success {
  border-radius: 10%;
  font-size: 2rem;
  width: 500px;
  height: 300px;
}

.happycard {
  display: none;
  margin: auto;
}

.btn-confirm {
  margin: 5%;
  width: 150px;
  height: 100px;
}

#happy {
  text-align: center;
}